.container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,100px);
    row-gap: 10px;
    column-gap: 10px;
    /* gap: 10px; create gap in colomn and row */
    background-color: rgb(255, 0, 0);
    justify-content: center;
    padding: 190px;
}
.one,.three,.five,.seven,.nine{
    background-color: black;
}
