.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    h1{
        padding-left: 20px;
    }
    

}
.one{
    color: rgb(255, 255, 255);
}
.two{
    flex-basis: 100px;
    margin-left: 600px;
    margin-top: 30px;
}
.three{
    margin-top: 30px;
}
.four{
    margin-top: 30px;
}
.five{
    margin-top: 30px;
}
body{
    background-image: url(newimg.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    



}
  
.btn{
    display: inline-block;
    padding-left: 80px;   
    font-weight: bold;
    border-radius: 12px;
}
#jop{
    padding: 10px;
    background-color: burlywood;
    color: white;
    border-radius:12px;

}
#jop2{ padding: 10px;
    background-color: burlywood;
    color: white;
    border-radius: 12px;
    display: inline-block;

}

img{
    width: 300px;
    height: 300px;
}

.container2{
   font-weight: bold;
   font-style: italic;
   width: 600px;
   color: white;
   img{
  margin-left:180%;
    margin-top:80px;
}
   
h1{
    padding-left: 20px;
}
p{
    padding-left: 20px;

}

}
